.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.custom-loader {
  /* @apply border-transparent rounded-full animate-spin; */
  border-width: .7vmax;
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  border: 1vmin solid transparent;
  animation: spin 1s linear infinite;
  border-left-color: rgb(126, 125, 125); /* Ensure this overrides other styles */
}

.card-p-tag {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4em; /* Adjust based on your font-size and line-height */
}

.sm-card-p-tag {
  display: -webkit-box;
  width: 100%;
  flex-grow: 1;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 7em; /* Adjust based on your font-size and line-height */
}